# temporal directories
output/tmp/*
output/tmp/*

# output netCDF files for Brightness temperatures
output/TB/*

# some testing files in source directory
src/garbage

# log files
*.log
bin/*.log

# Prerequisites
*.d

# Compiled Object files
*.o
obj/*
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
